html {
    background-color: black;
}

#title { 
    font-family: "Libre Baskerville", serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

div {
    margin: 5% 22.5%;
}

#image {
    border: 5px white solid;
    height: 500px;
    width: 900px;
}

p {
    color: white;
    text-align: center;
}